<html>
<head>
	<title>My App</title>
	<link href="/static/webapp/css/chat.css">

</head>
<body>
<div id="app"></div>

</body>
<script src="/static/webapp/js/manifest.js"></script>
<script src="/static/webapp/js/chat.js"></script>

</html>